
.calculadora {
    background: rgb(109, 179, 179);
    width: 190px; 
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.calculadora input{
    background: rgb(222, 226, 230);
   color: rgb(12, 11, 11);
   padding: 3px;
   border-radius: 7px;
}
.calculadoraESG input {
    background-color: rgb(36, 117, 113);
    color: rgb(24, 66, 49);
    padding: 5px;
    border-radius: 5px;
}
#sptotal {
    background: rgb(72, 97, 143);
    color: black;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.calculadora button {
    background: white;
    color: rgb(23, 47, 110);
    padding: 5px;
    border-radius: 7px;
    margin-top: 10px;
}
.calculadora button:hover{
    background: rgb(23, 47, 110);
    color: white;
    cursor: pointer;
}
.calcF {
    display: none;
}
#input-calcF {
    display: none;
}
h5 {
    color: rgb(47, 48, 121);
}

#input-calcF:checked + .calculadora .calcF{
    display: block;
}
